/* add your CSS here */
body {
  font-family: Trebuchet MS;
}
h3 {
  font-size: 30px;
  padding: 5px;
  margin: 5px;
}
img {
  padding: 5px;
}
span {
  font-weight: bold;
  font-style: normal;
}
ul {
  list-style-type: none;
  margin: 0; padding: 0;
  font-style: italic;
}
.card {
    width: 310px;
    border: 1px solid #cccccc;
    box-shadow: 0px 10px 15px #cccccc;
    margin: 15px;
    padding: 10px;
}
.innercard {
  border: 1px solid #cccccc;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}
